body {
  background-color: #ff7f00;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column; 
  align-items: center;
  height: 100vh;
}

.title {
  font-size: 2rem;
  color: white;
  margin-top: 40px; 
  margin-bottom: 40px; 
  text-align: center;
}

.Restaurant-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

.spinner {
  border: 16px solid #f3f3f3; 
  border-top: 16px solid #d78118; 
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  
}

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.flip-card {
  background-color: transparent;
  width: 300px;
  height: 300px;
  perspective: 1000px;
  margin: 10px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #ddd5c1;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.flip-card-back {
  background-color: #ffa500;
  color: white;
  transform: rotateY(180deg);
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
